* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('http://cdn1-www.craveonline.com/assets/uploads/2014/06/Animal-House-splash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#brother-list, #frat-list {
    display: flex;
    flex-wrap: wrap;    
}

.brother-item, .frat-item {
    margin: 2em;
    height: 275px;
    width: 350px;
    border: 2px solid black;
    padding: 0px 10px 10px 10px;
    overflow: scroll;
    background-color: #413e3eab;
}

#navbar {
    display: flex;
    background-color: #e06060;
}

.navbar-item {
    margin: 0.5em;
    font-size: 2em;
}

.navlink {
    text-decoration: none;
    color: #dbc4c4;
}

.navlink:hover {
    color: #110202;
}

.brother-attributes {
    list-style: none;
    display: inline;
    margin-left: -20px;
    flex: 2;
    color: white;
}

.attribute-title {
    color: black;
    font-weight: bold;
}

.brother-name {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'GFS Neohellenic', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.brother-name:hover {
    color: rgb(29, 22, 25);
}

.brother-flex {
    display: flex;
}

.brother-img {
    width: 125px;
    height: 90px;
}