* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('http://cdn1-www.craveonline.com/assets/uploads/2014/06/Animal-House-splash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#brother-list, #frat-list {
    display: flex;
    flex-wrap: wrap;    
}

.brother-item, .frat-item {
    margin: 2em;
    height: 275px;
    width: 350px;
    border: 2px solid black;
    padding: 0px 10px 10px 10px;
    overflow: scroll;
    background-color: #413e3eab;
}

#navbar {
    margin: 0;
    display: flex;
    background-color: #e06060;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.navbar-item {
    margin: 0.5em;
    font-size: 2em;
    font-family: 'GFS Neohellenic', sans-serif;    
}

.navlink {
    text-decoration: none;
    color: #dbc4c4;
}

.navlink:hover, .frat-page-brother:hover {
    color: #110202;
}

#brother-list, #frat-list, #brother-page {
    position: relative;
    top: 69px;
}

.brother-attributes {
    list-style: none;
    display: inline;
    margin-left: -20px;
    flex: 2;
    color: white;
}

.attribute-title {
    color: rgb(255, 101, 101);
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    font-weight: bold;
}

.brother-name, .frat-name {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'GFS Neohellenic', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.brother-name:hover, .frat-name:hover {
    color: rgb(29, 22, 25);
}

#brother-page .brother-name:hover {
    color: rgb(255, 255, 255);    
}

.brother-flex {
    display: flex;
}

.brother-img {
    width: 125px;
    height: 90px;
}

#brother-page img {
    width: 300px;
    height: 216px;
    padding-right: 30px;
}

#brother-page, #frat-page {
    width: 600px;
    height: 400px;
    background-color: #413e3eab;
    border: 2px solid black;
    position: relative;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    padding: 20px;
}

.frat-img {
    width: 200px;
    height: 150px;
}

.frat-info {
    display: flex;
}

.frat-info-item {
    margin: 0px 5px 5px 5px;
}

.frat-info > h4 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#create-brother, #create-frat {
    position: relative;
    top: calc(69px - 2.2em);
    left: -7px;
}

#home {
    position: relative;
    top: 69px;
    display: flex;
    flex-direction: column;
}

.home-video {
    margin: 30px 30px 0px 30px;
    align-self: center;
}

form {
    width: 350px;
    height: 295px;
    margin: 0em 1em 0em 2em;
    background-color: #e06060;
    color: #dbc4c4;
    border: 2px solid black;    
    font-size: 20px;
    padding-left: 10px;
}

#edit-brother {
    position: relative;
    top: -324px;
    left: 65px;
}

#edit-frat {
    position: relative;
    top: -350px;
    left: 66px;
}

.frat-page-text {
    color: rgb(255, 255, 255);
    font-family: 'GFS Neohellenic', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.frat-page-brother {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'GFS Neohellenic', sans-serif;
    text-shadow: 1px 1px 1px black;
}

#frat-page ul {
    list-style-type: none;
    margin-left: -40px;
}

#frat-page img {
    width: 350px;
    height: 240px;
    margin-left: 23px;
    margin-top: -21px;
}

#frat-page-header {
    display: flex;
    margin-bottom: -21px;
}

#frat-page-header button {
    align-self: right;
    margin: 32px 0px 0px 28px;
}